card:hover {
  transform: translateY(-10px);
  border-color: #d4af37;

  box-shadow:
    0 18px 40px rgba(0, 0, 0, 0.5),
    0 0 25px rgba(212, 175, 55, 0.12);
}

.card:hover::before {
  transform: scale(2);
}

/* ===NUMBER===== */

.number {
  position: absolute;
  top: 15px;
  left: 15px;

  width: 34px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: #d4af37;
  color: #06241c;

  font-size: 13px;
  font-weight: bold;

  box-shadow: 0 3px 10px rgba(212, 175, 55, 0.25);
}

/* ===ARABIC==== */

.arabic {
  direction: rtl;

  font-family: "Times New Roman", serif;
  font-size: 40px;

  color: #f4d77b;

  margin-top: 25px;
  margin-bottom: 18px;

  line-height: 1.5%;

  text-shadow: 0 0 15px rgba(212, 175, 55, 0.15);
}
